body {
    font-family: "Open Sans", sans-serif;
    background: #c1cadb;
   
  }
  #placeFinger, #face_status, #finger-print-status {
    margin-top: 50px;
   font-size: 50px;
    transition: all 0.3s;
  }
  
  .multiple_section {
    display: none;
  }
  .start-button{
    height: 100px;
    font-size: 45px;
  }

  .next-btns{
    background-color: #de8005;
    color: black;
    width: 120px;
    font-size: 40px;
  }
#vote-candidate{
    width: 150px;
    font-size: 23px;
    background: #523003;
    color: #fff;
}